<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>842056526505-jrfp7vd0c0arvv7pghvbd7b7o5go7oca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.842056526505-jrfp7vd0c0arvv7pghvbd7b7o5go7oca</string>
	<key>API_KEY</key>
	<string>AIzaSyBK1Zll8916uwLL4VkVWgq_zEYZAjlcY10</string>
	<key>GCM_SENDER_ID</key>
	<string>842056526505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KenSeya.Demae-can</string>
	<key>PROJECT_ID</key>
	<string>demae-can-b742b</string>
	<key>STORAGE_BUCKET</key>
	<string>demae-can-b742b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:842056526505:ios:fed4010e1d2a10786a57b8</string>
</dict>
</plist>